@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: poppins;
}

.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}


.left, .right{
    flex: 1;
}


.left{
    background-color: #E27D60;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
   
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

span{
    font-size: 30px;
    color: #1E1E1E;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input[type=email], input[type=text], input[type=password]{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 50px;
    margin: 10px 0;
    background-color: #FED8AC;
    border: none;
    border-radius: 10px;
    outline: none;
}

input[type=email]::placeholder, input[type=text]::placeholder, input[type=password]::placeholder{
    color: #1E1E1E;
    text-align: center;
}

input[type="email"]:hover, input[type="text"]:hover, input[type="password"]:hover{
    background-color: antiquewhite;
    height: 60px;
    transition: 0.5s;
}

.remember{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-top: 20px;
    padding: 0.5rem;
}

.remember label{
    margin-right: 150px;
    font-size: 15px;
}

button{
    margin-top: 20px;
    height: 50px;
    width: 50%;
    cursor: pointer;
    background-color: #E88A70;
    border: none;
    border-radius: 10px;
    color:  #fff;
    font-weight: bold;
    font-size: 20px;
}

.registro{
    padding: 3rem;
}

a{
    text-decoration: none;
    color: #1888B8;
}

button:hover{
    background-color: #cd7259;
    transition: 0.5s;
    height: 60px;
}

h1, h2{
    position: relative;
}

h2::after{
    position: absolute;
    content: '';
    background-color: #ff9500;
    width:9rem;
    height: 5px;
    bottom: 0;
    left: 0;
}

h1::after{
    position: absolute;
    content: '';
    background-color: #ffc481;
    width:15.5rem;
    height: 5px;
    bottom: 0;
    left: 0;
    margin-top: 5px;
}

a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.new::after{
    position: absolute;
    content: '';
    background-color: #ffc481;
    width:15.5rem;
    height: 5px;
    bottom: 0;
    left: 0;
    margin: 3px;
}

.inicio::after{
    position: absolute;
    content: '';
    background-color: #ffc481;
    width:20.5rem;
    height: 5px;
    bottom: 0;
    left: 0;
    margin: 3px;
}

.erro {
    color: red;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

